#titre {
  color: #FF9800;
  font-size: 60px;
  text-align: center;
  font-family: 'Courgette', cursive;
}

body {
  background-color: #333;
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
}

#map {
	width: 80%;
	height: 600px;
	margin-left: 10%;
  margin-top: 50px;
  margin-bottom: 15px;
}

#bottomImage{
    position:fixed;
    bottom:0px;
    left:55%;
}